{% extends "dashboard_base.html" %}

{% block title %}
    Dishes By Cuisine
{% endblock %}

{% block content %}
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="icon_genius"></i>Dishes By Cuisine</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Foodiez</a></li>
						<li><i class="icon_genius"></i>Dishes By Cuisine</li>
						
				</div>
			</div>
              <div class="row">
                <div class="col-lg-4">
                      <section class="panel">
                          <header class="panel-heading">
                              Indian
                          </header>
                          <div class="list-group">
                              <a class="list-group-item active" href="javascript:;">
                                  <h4 class="list-group-item-heading">Chole bhature</h4>
                                  <p class="list-group-item-text">Main course. Chick peas, assorted spices, wheat flour and yeast for bhatura.</p>
                                <p class="list-group-item-text">Vegetarian</p>
                              </a>
                              <a class="list-group-item " href="javascript:;">
                                  <h4 class="list-group-item-heading">Poha</h4>
                                  <p class="list-group-item-text">Specialty from Madhya Pradesh. Common snack in central part of India. Flattended rice, potato, turmeric.</p>
                                  <p class="list-group-item-text">Vegetarian</p>
                              </a>
                              <a class="list-group-item" href="javascript:;">
                                  <h4 class="list-group-item-heading">Tandoori Chicken</h4>
                                  <p class="list-group-item-text">Tandoori chicken as a dish originated in the Punjab before the independence of India and Pakistan.</p>
                                  <p class="list-group-item-text">Non Vegetarian</p>
                              </a>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-4">
                      <section class="panel">
                          <header class="panel-heading">
                              Chinese
                          </header>
                          <div class="list-group">
                              <a class="list-group-item " href="javascript:;">
                                  <h4 class="list-group-item-heading">Chow mein</h4>
                                  <p class="list-group-item-text">stir-fried noodles.</p>
                                  <p class="list-group-item-text">Veg/NonVeg.</p>
                              </a>
                              <a class="list-group-item active" href="javascript:;">
                                  <h4 class="list-group-item-heading">Noodle soup</h4>
                                  <p class="list-group-item-text">noodles with soup</p>
                                   <p class="list-group-item-text">Veg/NonVeg</p>
                              </a>
                              <a class="list-group-item" href="javascript:;">
                                  <h4 class="list-group-item-heading">Char siu</h4>
                                  <p class="list-group-item-text">Chinese barbecued pork</p>
                                  <p class="list-group-item-text">Non Vegetarian</p>
                              </a>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-4">
                      <section class="panel">
                          <header class="panel-heading">
                              Mexican
                          </header>
                          <div class="list-group">
                              <a class="list-group-item " href="javascript:;">
                                  <h4 class="list-group-item-heading">Tacos </h4>
                                  <p class="list-group-item-text">Prepared with a carnitas filling..</p>
                                  <p class="list-group-item-text">Vegetarian</p>
                              </a>
                              <a class="list-group-item " href="javascript:;">
                                  <h4 class="list-group-item-heading">Cochinita pibil </h4>
                                  <p class="list-group-item-text">traditional Mexican slow-roasted pork dish from the Yucatán Peninsula of Mayan origin.</p>
                                 <p class="list-group-item-text">Non Vegetarian</p>
                              </a>
                              <a class="list-group-item active" href="javascript:;">
                                  <h4 class="list-group-item-heading">Nachos</h4>
                                  <p class="list-group-item-text">The dish is composed of tortilla chips (or totopos) covered with cheese or cheese-based sauce, and is often served as a snack. </p>
                                 <p class="list-group-item-text">Vegetarian</p>
                              </a>
                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
 {% endblock %} 