{% extends "layout1.html" %}

{% block title %}
    Welcome
{% endblock %}

 {% block content %}
 <!-- slider-holder -->
      
        <!-- flexslider -->
        <div class="big-slider">
          <ul class="slides">
            <li> <img src="static/images/paneer-tikka1.jpg" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Paneer Tikka</h2>
                <p>Chunks of paneer marinated in spices and grilled in a tandoor !</p>
                <a href="https://en.wikipedia.org/wiki/Paneer_tikka" class="red-btn">Know More!</a> </div>
            </li>
            
            <li> <img src="static/images/pizza1.jpg" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Pizza</h2>
                <p>Yummy Cheesy !</p>
                <a href="https://en.wikipedia.org/wiki/Pizza" class="red-btn">Know More!</a> </div>
            </li>
            
            <li> <img src="static/images/dosa1.jpg" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Dosa</h2>
                <p>Chunks of paneer marinated in spices and grilled in a tandoor !</p>
                <a href="https://en.wikipedia.org/wiki/Dosa" class="red-btn">Know More!</a> </div>
            </li>
            
            <li> <img src="static/images/burger1.jpg" alt="" class="alignleft">
              <div class="slide-cnt">
                <h2>Burger</h2>
                <p>Made from vegetables (like potato or corn), textured vegetable protein (like soy), legumes (beans), tofu, nuts, mushrooms, or grains or seeds, like wheat and flax. !</p>
                <a href="https://en.wikipedia.org/wiki/Veggie_burger" class="red-btn">Know More!</a> </div>
            </li>
            
          </ul>
        </div>
        <!-- end of flexslider -->
 
 
{% endblock %}


{% block main %}
<!-- main -->
  <div class="main">
    <div class="shell">
       <!-- cols -->
      <section class="cols">
        <div class="col">
          <h3>Track Expenditure</h3>
          <img src="static/images/f1.jpg" alt="" class="alignleft">
          <div class="cnt">
            <p>Track your expenses on Food!</p>
             </div>
        </div>
        <div class="col">
          <h3>Set Reminders</h3>
          <img src="static/images/reminder.jpg" alt="" class="alignleft">
          <div class="cnt">
            <p>
              Set Reminders for Food!
            </p>  
            </div>
        </div>
        <div class="col">
          <h3>Search Nearby Restraunts</h3>
          <img src="static/images/cols-img3.png" alt="" class="alignleft">
          <div class="cnt">
            <p>Search Nearby Restraunts
            </p></div>
        </div>
        <div class="cl">&nbsp;</div>
      </section>
      <!-- end of cols -->
      <!-- cols -->
      <section class="cols">
        <div class="col">
          <h3>Add your Recipes</h3>
          <img src="static/images/addme.jpg" alt="" class="alignleft">
          <div class="cnt">
            <p>Add Your own recipes</p>
            </div>
        </div>
        <div class="col">
          <h3>Make Friends</h3>
          <img src="static/images/makefriends.jpg" alt="" class="alignleft">
          <div class="cnt">
            <p>Make Foodie Freinds. Talk About Food </p></div>
        </div>
        <div class="col">
          <h3>Analyze your Food habits</h3>
          <img src="static/images/analyze.jpg" alt="" class="alignleft">
          <div class="cnt">
            <p>Track your food eating habits every month!! </p></div>
        </div>
        <div class="cl">&nbsp;</div>
      </section>
      <!-- end of cols -->
    
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <!-- end of main -->


{% endblock %}
